#image-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#image-viewer.single img {
    max-width: 100%;
    height: auto;
}

#image-viewer.double {
    display: flex;
    justify-content: space-around;
}

#image-viewer.double img {
    max-width: 45%;
    height: auto;
}

#image-viewer.quad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#image-viewer.quad img {
    max-width: 100%;
    height: auto;
}

.carrossel {
    display: flex;
    overflow-x: scroll;
}

.carrossel-item-container {
    flex: 0 0 auto;
    margin-right: 10px;
}

.carrossel-item {
    max-width: 100px;
    cursor: pointer;
}

.dragging {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    max-width: 150px;
    /* Adjust this as needed */
}

</style>