.profile-text {
  margin: 15px;
  font-size: 18px;
}

.user-text {
  color: #cbe0c1;
  font-weight: bold;
  border-bottom: 1px solid #cbe0c1;
  padding: 0 15px;
}

.config-container {
  display: grid;
  justify-items: center;
  padding: 3%;
}

.circle {
  background-color: #d0f3c1;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

.letter {
  font-size: 80px;
  color: white;
  font-weight: bolder;
}

#open-image {
  background: #d0f3c1;
  border-radius: 100%;
  border: 5px solid white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.password-subtitle {
  font-size: 12px;
  margin: 0 0 50px;
}

.grid-forms-container {
  display: grid;
  gap: 50px;
  padding: 5%;
}

.form-group {
  display: grid;
}

@media screen and (min-width: 1040px) {
  .grid-forms-container {
    grid-template-columns: 1fr 1fr;
  }
}
