.disabled-title-container {
  background-color: #cbe0c1;
  border: 4px solid #d0f3c1;
  padding: 10px;
  text-align: center;
}

.disabled-content-container {
  padding: 3%;
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container {
  display: grid;
  gap: 15px;
}

.active-btn {
  border: none;
  background-color: #20d71c70;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
}

.active-btn:hover {
  background-color: #20d71c9c;
}

@media screen and (min-width: 1040px) {
  .disabled-content-container {
    justify-content: flex-start;
  }
}
