.background {
  background-color: #cbe0c145;
  height: 100%;
  padding: 20px;
  min-height: calc(100vh - 80px);
}

.title-container {
  display: flex;
  margin: 20px auto;
  width: 150px;
  text-align: center;
  border: 3px solid #d0f3c1;
  padding: 0 20px;
  justify-content: center;
  border-radius: 25px;
  background-color: white;
}

.title {
  margin: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.action-btns-container {
  display: flex;
  justify-content: space-between;
}

.action-btn {
  border-radius: 30px;
  width: 45%;
  padding: 10px 30px;
  cursor: pointer;
  border: 2px solid #d0f3c1;
}

.select-all-btn {
  background-color: white;
}

.delete-btn {
  background-color: #f71414a0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  position: relative;
  margin: 10px;
}

.img-container img {
  width: 220px;
  height: 200px;
  object-fit: fill;
  border-radius: 15px;
  border: 1px solid #143370;
}

.checkbox {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.delete-btn-img {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 3px 15px;
  border: none;
  background-color: #f71414;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}

@media screen and (min-width: 1040px) {
  .title-container {
    padding: 0 40px;
  }

  .title {
    margin: 15px;
    font-size: 25px;
  }

  .action-btn {
    width: 220px;
    font-size: 20px;
  }
}
