body {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
  background-color: #cbe0c1;
  overflow: hidden;
  position: absolute;
  width: 200vh;
  height: 200vh;
  background-color: #cbe0c1;
  border-radius: 50%;
  top: -100%;
  right: 45%;
  z-index: -1;
}

.logo {
  position: relative;
  top: 10vh;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 60%;
}

.right-container form {
  display: grid;
  gap: 40px;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 100%;
}

.input-container {
  display: grid;
}

.input {
  background-color: #e5ebe1;
  border: none;
  border-radius: 5px;
  padding: 12px 8px;
  font-weight: 600;
  color: #7b7b7b;
  margin: 5px 0;
  box-shadow: 0px 3px 4px #0000003d;
}

.input:focus-visible {
  outline: 3px solid #d0f3c1;
}

.label {
  font-size: 14px;
}

.button {
  background-color: #e5ebe1;
  border: none;
  padding: 15px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 3px 4px #0000003d;
}

.button:hover {
  background-color: #cbe0c1;
}

.button:active {
  box-shadow: none;
}

.link {
  text-align: right;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: none;
    height: initial;
  }

  .logo {
    height: 280px;
    position: initial;
  }

  .right-container {
    width: 70%;
  }
}
